<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backbone Dashboard</title>
    <link rel="stylesheet" href="/style/main.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

  <section class="row">
    <h1>Backbone Dashboard</h1>
  </section>

  <section class="row">

  </section>

  </body>
</html>
