<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backbone Dashboard</title>
    <link rel="stylesheet" href="/style/main.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Roboto:400,400italic,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

  <section class="row">
    <h1>Backbone Dashboard</h1>
  </section>

  <section class="row">
    <article class="block-half shadow">
      <h3>This is a 50% block</h3>
      Pretty self explanatory.
      <span class="close">(x) dismiss</span>
    </article>
    <article class="block-half shadow">
      <h3>If it wasn't...</h3>
      Here's another to display them together.
      <span class="close">(x) dismiss</span>
    </article>
  </section>

  <section class="row">
    <article class="block-third shadow">
      <h3>Thirds?</h3>
      We can do that. We'll have three items in a row if we want.
      <span class="close">(x) dismiss</span>
    </article>
    <article class="block-third shadow">
      <h3>One famous trios</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
      </ul>
      <span class="close">(x) dismiss</span>
    </article>
    <article class="block-third shadow">
      <h3>Another trio</h3>
      <ul>
        <li>Bacon</li>
        <li>eggs</li>
        <li>toast</li>
      </ul>
      (yum)
      <span class="close">(x) dismiss</span>
    </article>

  </section>

  <section class="row">
    <article class="block-quarter shadow">
      <h3>Quarters are good</h3>
      There are quarters in Basketball and football.
      <span class="close">(x) dismiss</span>
    </article>
    <article class="block-quarter shadow">
      <h3>Van Halen</h3>
      <ul>
        <li>Eddie</li>
        <li>David</li>
        <li>Alex</li>
        <li>Michael</li>
      </ul>
      <span class="close">(x) dismiss</span>
    </article>
    <article class="block-quarter shadow">
      <h3>Reminder</h3>
      Pick up eggs.
      <span class="close">(x) dismiss</span>
    </article>
    <article class="block-quarter shadow">
      <h3>Flight Notification</h3>
      Your leave Chicago in 3 days.
      <span class="close">(x) dismiss</span>
    </article>
  </section>

  </body>
</html>
